body{
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color: rgb(66, 90, 112);
}

#principal{
    width: 100%;
    
}

#container{
    margin: 0px auto;
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
    padding: 50px;
    
    box-shadow: 0px 0px 5px rgb(163, 163, 163);

}

#container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

header #list{
    width: 65%;
    justify-self: right;
    box-shadow: 0px 0px 5px wheat;
    display: flex;
    list-style: none;
    
    
}

header #list .element{
    border: 1px solid black;
    flex-basis: 35%;
    line-height: 74px;
    text-align: center;
    border-right: 1px solid white;
    
}

header #list .element a{
    text-decoration: none;
    color: gray;
    transition: all 350ms;
    display: block;
    width: 70%;
    margin: 0px auto
}

header #list .element a:hover{
    color: white;
}
header #random{
    display: flex;
    width: 29%;
    box-shadow: 0px 0px 5px wheat;
    text-align: center;
    justify-content: space-around;
}



#container h1{
    font-size: 30px;
    
    color: rgb(163, 163, 163);
    text-shadow: 0px 0px 4px #1d1c1c;



}

#container p{
    
    font-size: 20px;
    color:rgb(158, 156, 156);

}

#blog_img{
    display:block;
    width: 50px;
    height: 70px;
}

/*Pie*/

#footer{
    background-color:rgb(40, 76, 109);
    color: wheat;
    padding: 0.2em;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 6px rgb(7, 26, 43);
}
